<div class="container">

  <h2 class="title">All Bookings</h2>
  <!-- FILTER TABS -->
<div class="tabs">

  <button 
    (click)="activeTab='ALL'"
    [class.active]="activeTab==='ALL'">
    All
  </button>

  <button 
    (click)="activeTab='ACTIVE'"
    [class.active]="activeTab==='ACTIVE'">
    Active
  </button>

  <button 
    (click)="activeTab='CANCELLED'"
    [class.active]="activeTab==='CANCELLED'">
    Cancelled
  </button>

  <button 
    (click)="activeTab='FAILED'"
    [class.active]="activeTab==='FAILED'">
    Failed
  </button>

</div>
  <!-- SUCCESS -->
  <div *ngIf="successMessage" class="success">
    {{ successMessage }}
  </div>

  <!-- LOADING -->
  <p *ngIf="isLoading" class="loading">Loading...</p>

  <!-- ERROR -->
  <p *ngIf="!isLoading && errorMessage" class="error">
    {{ errorMessage }}
  </p>

  <!-- EMPTY -->
  <p *ngIf="!isLoading && filteredBookings.length === 0" class="empty">
    No bookings available
  </p>

  <!-- GRID -->
  <div class="grid" *ngIf="!isLoading && filteredBookings.length > 0">

    <div 
      class="card"
      *ngFor="let b of filteredBookings"
      (click)="openBooking(b.bookingId)"
    >

      <!-- HEADER -->
      <div class="card-header">
        <h3>#{{ b.bookingId }}</h3>

        <span 
          class="status"
          [ngClass]="{
            'confirmed': b.status === 'CONFIRMED',
            'pending': b.status === 'PENDING',
            'failed': b.status === 'FAILED',
            'cancelled': b.status === 'CANCELLED'
          }">
          {{ b.status }}
        </span>
      </div>

      <!-- DETAILS -->
      <div class="details">
        <p><strong>Room:</strong> {{ b.roomId }}</p>

        <!-- If backend gives guest object -->
        <p *ngIf="b.guest"><strong>Guest:</strong> {{ b.guest.name }}</p>

        <!-- fallback -->
        <p *ngIf="!b.guest"><strong>Guest ID:</strong> {{ b.guestId }}</p>
      </div>

    </div>

  </div>

</div>