

<div class="booking-container">

  <div class="form-card">
    <h2>Guest Details</h2>

    <form (ngSubmit)="createBooking()" #bookingForm="ngForm">

  <label>Full Name</label>
  <input 
    name="name"
    [(ngModel)]="bookingRequest.guest.name"
    required
    #name="ngModel"
  />
  <small class="error" *ngIf="name.invalid && name.touched">
    Name is required
  </small>

  <label>Email</label>
  <input 
    name="email"
    type="email"
    [(ngModel)]="bookingRequest.guest.email"
    required
    email
    #email="ngModel"
  />
  <small class="error" *ngIf="email.invalid && email.touched">
    Enter a valid email
  </small>

  <label>Phone</label>
  <input 
    name="phone"
    [(ngModel)]="bookingRequest.guest.phone"
    required
    pattern="[0-9]{10}"
    #phone="ngModel"
  />
  <small class="error" *ngIf="phone.invalid && phone.touched">
    Enter valid 10-digit phone number
  </small>

  <label>Address</label>
  <input 
    name="address"
    [(ngModel)]="bookingRequest.guest.address"
    required
    #address="ngModel"
  />
  <small class="error" *ngIf="address.invalid && address.touched">
    Address is required
  </small>

  <label>Gender</label>
  <select 
    name="gender"
    [(ngModel)]="bookingRequest.guest.gender"
    required
    #gender="ngModel"
  >
    <option value="">Select</option>
    <option value="MALE">Male</option>
    <option value="FEMALE">Female</option>
  </select>
  <small class="error" *ngIf="gender.invalid && gender.touched">
    Please select gender
  </small>

  <button 
    type="submit"
    class="confirm-btn"
    [disabled]="bookingForm.invalid || isLoading"
  >
    {{ isLoading ? 'Processing...' : 'Confirm Booking' }}
  </button>

</form>
  </div>

  <div class="summary-card">
    <h3>Booking Summary</h3>

    <p><strong>Room ID:</strong> {{ roomId }}</p>
    <p><strong>Price:</strong> ₹{{ price }}</p>

  </div>

</div>